.loader {
  margin: 100px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 6px dashed #025167;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1.5);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}
